<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/stories">Public Stories</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
</div>

<!-- Use any element to open the sidenav -->
<div class="container-fluid bg-dark">
    <div class="d-flex justify-content-between">
        <div class="my-3"><button onclick="openNav()" style="transform: scale(1.5);"><i
                    class="fas fa-bars"></i></button></div>

        <div class="text-center">
            <h1 style="color: white;"></h1>
        </div>
        <div class="bg-dark"> &nbsp; &nbsp; &nbsp;</div>
    </div>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4"><%= story.title %></h1>
                <br>
                <div class="border rounded shadow p-3">
                    <p style="font-size: 24px;"><%= moment(story.createdAt).format('LLL') %></p>
                    <p
                        style="font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        <%= story.body.replace(/<(?:.|\n)*?>/gm, '') %>
                    </p>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= story.user.displayName %></h5>

                        <div class="text-center"><img src="<%- story.user.image %>" alt="user image"
                                class="rounded-circle img-fluid"
                                style="height: 170px !important; width: 170px !important;">
                        </div>
                        <hr>
                        <div class="text-center h5"><a href="/stories/user/<%- story.user._id %>">More from
                                <%= story.user.firstName %></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>