<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/stories">Public Stories</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
</div>

<!-- Use any element to open the sidenav -->
<div class="container-fluid bg-dark">
    <div class="d-flex justify-content-between">
        <div class="my-3"><button onclick="openNav()" style="transform: scale(1.5);"><i
                    class="fas fa-bars"></i></button></div>

        <div class="text-center">
            <h1 style="color: white;"></h1>
        </div>
        <div class="bg-dark"> &nbsp; &nbsp; &nbsp;</div>
    </div>
</div>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <h2 class="display-4" style="font-size: 40px !important;"><%= stories[0].user.displayName %>'s public stories
        </h2>
        <div class="row">
            <% stories.forEach(function(story){ %>

            <div class="col-xs-6 col-md-4  my-2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= story.title  %></h5>
                        <p class="card-text cardtext">
                            <%= story.body.replace(/<(?:.|\n)*?>/gm, '').substr(0, 145) + '...' %> </p>

                        <div class="text-center">
                            <a href="#">
                                <div class="chip"><a href="/stories/user/<%- story.user._id %>">
                                        <img src="<%- story.user.image %>" alt="Person" width="96" height="96">
                                        <%= story.user.displayName %></a>
                                </div>
                            </a>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="btn btn-dark my-1" href="/stories/<%- story._id %>">Read More</a>
                            <% if(story.user._id == myUser) { %>
                            <a class="btn btn-danger" href="/stories/edit/<%- story._id %>">Edit Post</a>
                            <% } %>
                        </div>

                        <!-- <div class="text-center userbg rounded-pill"><a href="#" class="btn"><img
                                        class="img-fluid rounded-circle myImg"
                                        src="https://lh3.googleusercontent.com/a-/AOh14Gj07ovBA5rvPW7w90kJll5j3_oqFbc1hpADM4F91w"
                                        alt="profile pic"> <span>User</span>
                                </a></div> -->

                    </div>
                </div>

            </div>
            <% }) %>
            <!--  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal height
                            action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                 </div> -->
        </div>

    </div>

</div>